html,
body,
#root {
  background-color: #ffffff !important;
  color: #000000 !important;
  min-height: 100vh !important;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
}